/*
    COLOUR PALETTE

    yellow-green: #cfc59f;
    light green: #39a632;
    medium green: #203b04;
    dark green: #141609;
    light grey: #F5F5F5;

*/

/* UTILITY CLASSES */

.container {
    margin: auto;
}

.flex {
    display: flex;
}

/* UNIVERSAL STYLES & TYPOGRAPHY */

/* MOBILE LAYOUT */

/* MEDIA QUERIES */
